<!DOCTYPE html>
<html>

<head>
  <title>MUSIC WEBSITE</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>

<body>
  <header>
    <div class="main">
      <div class="logo">
        <img src="../static/images/logo.png" width="60" height="60" />
      </div>
      <ul>
        <li class="active"><a href="#">HOME</a>
        </li>
        <li><a href="#">PLAYLIST</a>
        </li>
      </ul>
    </div>
    <div class="title">
      <h3> Connecting Soul.. </h3>
    </div>

    <div class="button">
      <a href="#" class="btn">LISTEN NOW</a>
      <a href="#" class="btn">UPLOAD YOU SONG</a>

    </div>

  </header>

  <section>
    
    <div class="container">


      <h1>PLAYLIST</h1>
      
       <p>{{ result }}</p>
       
      {% for d in result %}
      <div>
        <img src="../static/imageuploads/{{d.filename}}"  />
    
        <h1>Name: {{ d.name }}<br>Artist: {{ d.artist }}
          <br>Album: {{ d.album }}</h1>
          <h1>Album: {{ d.audio }}</h1>
          <h1>Album: {{ d.filename }}</h1>
          <audio controls>
              <source src= "../static/musicuploads/{{ d.audio }}" type="audio/mpeg">
          </audio>
      </div>
      {% endfor %}

    </div>
  </section>
  <section>
    <div class="container" >
     <h1 id="02"> </h1>
    </div>
  </section>
  <script src ="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>