<!DOCTYPE html>
<html>

<head>
  <title>MUSIC WEBSITE</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>

<body>
  <header>
    <div class="main" >
      <div class="logo">
        <img src="../static/images/logo.png" width="60" height="60" />
      </div>
      <ul>
        <li class="active"><a href="#">HOME</a>
        </li>
        <li><a href="#">PLAYLIST</a>
        </li>
        
        
      </ul>
    </div>
    <div class="title">
      <h3> Connecting Soul.. </h3>
    </div>

    <div class="button">
      <a href="#" class="btn">LISTEN NOW</a>
      <a href="#" class="btn">UPLOAD YOU SONG</a>
      
    </div>

  </header>

  <section>
  
  <diV class="container">
   <h1>CHOOSE A SONG </h1>
   

  </diV>
  </section>
</body>

</html>