<!DOCTYPE html>
<html>

<head>
  <title>MUSIC WEBSITE</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

</head>

<body>
  <header>
    <div class="main py-3">
      <div class="logo">
        <img src="../static/images/logo.png" width="60" height="60" />
      </div>
      <ul>
        <li class="active"><a href="/">HOME</a>
        </li>
        <li><a href="/product">PLAYLIST</a>
        </li>
      </ul>
    </div>
    <div class="title">
      <h3> Connecting Soul.. </h3>
    </div>

    <div class="button">
      <a href="/search" class="btn btn-light mx-2"> Search your Fav song </a>
      <a href="/uploadMusic" class="btn btn-light mx-2"> UPLOAD SONGS</a>

    </div>

  </header>

  <section>

    <div class="container my-4">
      <h1>PLAYLIST</h1>

      {% for d in result %}
      <div class="row my-4">
        <div class="col-md-6 ">
          <a href="/product/{{d.id}}"><img src="../static/imageuploads/{{d.filename}}" width="500" height="400" alt="..."></a>
        </div>
        <div class="col-md-6 my-5 ">
          <h1> {{ d.name }}</h1>
          <p>{{ d.description }}</p>
          <h3>Artist: {{  d.artist }}
            <br>Album: {{  d.album }}</h3>
          <audio controls>
            <source src="../static/musicuploads/{{ d.audio }}" type="audio/mpeg">
          </audio>
          <a href="../static/musicuploads/{{ d.audio }}" download="song" > <button class="btn btn-primary" style="margin: 10%;">Download Music</button></a>
         
        </div>
      </div>
      {% endfor %}

      <a href="/uploadMusic" class="btn btn-secondary"> UPLOAD YOUR SONG </a>

  </section>

  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>