{% extends "base.html" %}

{% block content %}

    <div class="container">


        <h1>PLAYLIST</h1>

    {% for d in result %}
        <div class="row my-1">
            <div class="col-md-6 ">
                <a href="/product/{{d.id}}"><img src="../static/imageuploads/{{d.filename}}" width="350" height="300" alt="..."></a>
            </div>
            <div class="col-md-6 ">
                <h3> {{ d.name }}</h3>
                <p>{{ d.description }}</p>
                <p>Artist: {{  d.artist }}
                    <br>Album: {{  d.album }}<p>
                <audio controls>
                    <source src="../static/musicuploads/{{ d.audio }}" type="audio/mpeg">
                </audio>
                <a href="../static/musicuploads/{{ d.audio }}" download="song" > <button class="btn btn-primary" style="margin: 10%;">Download Music</button></a>
         
            </div>
        </div>
    {% endfor %}

        
{% endblock %}