{% extends "base.html" %}

{% block content %}

<section>
  <div class="row">
    <div class="col-md-6 ">
      <img src="../static/imageuploads/{{product.filename}}" width="600" height="600" alt="...">
    </div>
    <div class="col-md-6 my-5 ">
      <h1> {{ product.name }}</h1>
      <p>{{ product.description }}</p>
      <h3>Artist: {{  product.artist }}
        <br>Album: {{  product.album }}</h3>
      <audio controls>
        <source src="../static/musicuploads/{{ product.audio }}" type="audio/mpeg">
      </audio>
    </div>
  </div>

</section>

{% endblock %}